.header{
    height:100px ;
    background-color:#E5E5E5;
    color:#AAAAAA;
    text-align:center ;
   padding:15px;
    font-size:40px ;
}
.center{
   float:left;
    width:25% ;
}

.left{
    margin:5px;
    background-color:#E5E5E5;
    width:300px;
    padding:10px ;
    text-align:center ;
    float: left;
}
.left a{
    color:#000;
}
.content{
    float:left;
    width: 50%;
    color:#AAAAAA;
}
.about{
    float:right;
    width:20%;
    background-color:#E5E5E5;
    margin:10px;
    color:#AAAAAA;
    text-align:center;
    height:200px;
}
.footer{
    clear:both;
    background-color:#E5E5E5;
    color:#AAAAAA;
    text-align:center;
    height:50px;
}